<header>
  <nav class="header-nav">
    <a class="header-title" href="/">Mybrary</a>
    <ul>
      <li><a href="/authors">Distributors</a></li>
      <li><a href="/authors/new">Join</a></li>
      <!--<li><a href="/books">Books</a></li> -->
      <li><a href="/books/new">Add Item(Food)</a></li>
    </ul>
  </nav>
</header>